* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-size: xx-large;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    width: 600px;
    height: 800px;
}

#calculator {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 6px;
    padding: 0px 4px;
}

#screen {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    border: 1px solid black;
    background-color: #E9FBEE;
    margin-bottom: 10px;
    padding-right: 4px;
}

#keypad {
    display: flex;
    flex: 9;
}

#numbers-div {
    display: flex;
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.numbers {
    width: calc((100% - 8px)/3);
}

#operations-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 8px;
    gap: 4px;
}

.operations {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}